.border
{
   background-color: #8D5BCD;
  width: 1380px;
  height: 680px;
  border: 35px solid #8D5BCD;
  padding: 5px;
  margin: 5px;
  }
  .border2
 {

position: relative;
border-radius: 50px;
background-color: white;
height: 680px;
width: 1380px;

}
.border3
{
   border-radius: 0px;
background-color: white;
padding-left: 20px;
padding-right:20px;
padding-top: 100px;
padding-bottom: 20px;

}
.c1
{
  float: left;
  width:30%;
    padding: 5px;
    height: 650px;
    background-color: #fff;
position: absolute;
left: 15px;
top: 10px;
border-radius: 30px;


}
.btnA {
  width: 150px;
  background-color: #8D5BCD;
  border: none;
  color: black;
  padding: 16px 20px;
  text-align: center;
  
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 15px;
  font-family: 'inter';
font-style: bold;
font-weight: 700;
font-size: 15px;
line-height: 29px;
display: flex;
align-items: center;
}
.btn {
  width: 150px;
  background-color: #ddd;
  border: none;
  color: black;
  padding: 16px 20px;
  text-align: center;
  
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  border-radius: 15px;
  font-family: 'inter';
font-style: bold;
font-weight: 700;
font-size: 15px;
line-height: 29px;
display: flex;
align-items: center;
}
.btn:hover {
  background-color: #8D5BCD;
  color: black;
}
.img1
{
position: absolute;
width: 102px;
height: 100px;


padding-top: 20px;
padding-bottom: 
50px;
padding-right: 50px;
left: 55px;
}
.f1
{
  position: absolute;
  padding-left: 70px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-top: 80px;
   font-family: 'inter';
font-style: bold;
font-weight: 700;
font-size: 15px;
line-height: 29px;
display: flex;
align-items: center;
}