.border
{
   background-color: #8D5BCD;
  width: 1380px;
  height: 680px;
  border: 35px solid #8D5BCD;
  padding: 5px;
  margin: 5px;
  }
  .border2
 {

position: relative;
border-radius: 50px;
background-color: white;
height: 680px;
width: 1380px;


    background-image: url(student.jpg) ;
    background-repeat: no-repeat;
    background-position: absolute;
    background-size: cover;
    background-clip: padding-box;
    
    
   width: 1380px;
   height: 680px;
   
  }
   
 Label[for="userid"],Label[for="password"]
 {
  font-size: 20px;

 }
  
 
  
  h2 {
    text-align: center;
font-style: oblique;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
  border: none;
   border-radius: 10px;
   background-color:#fff;
   position: relative;
   left: 40px;
   
  }
  input[type="password"]{
    padding: 10px;
    margin-bottom: 10px;
  border: none;
   border-radius: 10px;
   background-color:#fff;
   position: relative;
   left: 24px;
  }
  
 .bt {
    background-color: #8D5BCD;
  color: black;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width:100px ;
  position: relative;
  left:250px;
  

}
    
   
    
  .bt:hover{
    cursor: pointer;
    background-color:#A9A0D288 ;
    color: black;

  }
  .lg{
    width: 400px;
    height: 350px;
    top:18%;
    left:35%;
    
    border-radius:20px;
    position:relative;
    padding: 10px;
    background: #A9A0D288;
    
  }

  
 
  


